

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
}


#userlist .table>:not(:first-child) {
    
}

.box-shadow{
    width:100%;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 15px 0;
    padding:15px 15px;
    min-height:1px;
    clear: both;
    background: #ffffff;
} 
.btn-orange {
    color: #fff;
    background-color: #f16e00;
    border-color: #f16e00;
}
.btn-orange:hover , .btn-orange:focus{
    color: #fff;
    background-color: #db6402;
    border-color: #cc5d02;
}

.header{
    background: #001c6b;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    font-size: .875rem;
    color: #fff;
}
.bg-darkblue{
    background: #001c6b;
}
.bg-orange{
    background-color: #f16e00;
    /* background-color: #f1501a; */
}
.bg-purpale{
    background-color: #7828e9;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.headerTitle li{
    display: inline-block;    
}
ul.headerTitle li:first-child{
    max-width: 200px;
    width: 100%;
}
ul.headerTitle li:last-child{
    text-align: center;
    width: calc(100% - 200px);
    float: right;
}
ul.login-section{
    float: right;
}
.login-section li{
    display: inline-block;
    position: relative;
}
.login-section li a{
    color: #fff;
    text-decoration: none;
    padding: 0 8px;
}
.login-section li::after{
    content: '';
    position: absolute;
    height: 10px;
    width: 1px;
    background: #fff;
    top:6px;
}
.login-section li:last-child:after{
    content: none;
}
ul.send-otp li{
    display: inline-block;
}
ul.send-otp li:first-child{
  width: 180px;
}
ul.send-otp li:last-child{
   padding: 10px 10px;
   border:#f16e00 solid 1px;
   border-radius: 4px;
}
ul.send-otp li:last-child .btn:nth-child(2){
    margin-left:15px;
}
ul.send-otp li:last-child .btn:nth-child(3){
    margin: 0 5px 0 5px;
}
#sendotp{
    display: none;
}
table {
    caption-side: top;
  }

  .caption{
      width: 100%;
      padding: 5px;
      background: #001c6b;
      color:#fff;
      min-height: 40px;
      font-size: 1rem;
      text-align: center;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
  }
  .card-heading{
      width: 100%;
      display: block;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
      min-height: 40px;
      font-size: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .card-heading .btn{
    position: absolute;
    right: 20px;
  }


  
.customRadio input[type="radio"] {
    position: absolute;
    left: -9999px
}

.customRadio input[type="radio"]+label {
    position: relative;
    padding: 1px 15px 0 25px;
    cursor: pointer
}

.customRadio input[type="radio"]+label:before {
    content: '';
    background: #fff;
    border: 2px solid #311B92;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0
}
.pad0 .card-body{
    padding: 0;
}

.customRadio input[type="radio"]+label:after {
    content: '';
    background: #311B92;
    background:#ad2039;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
    opacity: 0;
    transform: scale(2);
    transition: transform 0.3s linear, opacity 0.3s linear
}

.customRadio input[type="radio"]:checked+label:after {
    opacity: 1;
    transform: scale(1)
}



.footer{
    width: 100%;    
}
.footer p{
    margin-bottom: 0;
    text-align: center;
    padding: 5px;
}


.one h1 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
    margin-top: 25px; 
   
  }
  .one h1:before {
    width: 28px;
    height: 5px;
    display: block;
    content: "";
    position: absolute;
    bottom: 3px;
    left: 50%;
    margin-left: -14px;
    background-color: #b80000;
  }
  .one h1:after {
    width: 100px;
    height: 1px;
    display: block;
    content: "";
    position: relative;
    margin-top: 11px;
    left: 50%;
    margin-left: -50px;
    background-color: #b80000;
  }
  
h1 {
    position: relative;
    padding: 0;
    margin: 0;   
    font-weight: 300;
    font-size: 1.5em;
    color: #080808;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
  
  .one h1 span {
    display: block;
    font-size: 0.5em;
    line-height: 1.3;
  }
  .one h1 em {
    font-style: normal;
    font-weight: 600;
  }
  

.text-blue{
   color: #123bb0;
}